.wallmt img {
  width: 100%;
}
.wallmt {
  width: 19px;
  float: left;
}
.top-buffer { margin-top:20px; }
.clickable-row{
	cursor: pointer;
}
.repeat-in button.btn,.repeat-in button.btn:active:hover{
    background: none;
    padding: 0px;
    color: #2ab27b;
    border-color: transparent;
    box-shadow : none;
    border: none;
}
.repeat-in button.btn.btn-danger {
    color: red;
}
.repeat-in input,.repeat-in select {
    width: 90%;
    display: inline-block;
}